/* main */

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "PT Sans", "Arial", sans-serif;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }

html {
    height: 100%;
  }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

/* main-index */
/* page-header */

.visually-hidden {
    visibility: hidden;
}

.page-header {
    background-color: #ffffff;
    display: flex;
    padding: 0 70px;
    margin: 0 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
  }

li {
    list-style-type: none;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}

.navigation-list {
    width: 507px;
    display: flex;
}

.navigation-user {
    display: flex;
    width: 268px;
}

.navigation-item {
    padding: 20px 16px;
}

.navigation-item-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: bold;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.favourites-count {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    background-color: #7db54f;
    border-radius: 10px;
    max-width: 50px;
  }

.button {
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.header-button {
    padding: 8px 34px;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
}

/* hero */

.hero {
    background-image: url(../images/index/jpg/background-header.jpg);
    width: 1200px;
    height: 485px;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: #ffffff;
}

/* advantages */

.advantages-description {
    margin: 69px 275px;
}

.advantages-title {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    text-align: center;
}

.wrapper {
    display: flex;
    padding: 0;
    margin: 0;
}

.advantages-item {
    width: 400px;
    height: 385px;
    display: flex;
}

.wrapper-first .advantages-item-description, .wrapper-third .advantages-item-description {
    margin: 102px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-second .advantages-item-description {
    margin: 112.5px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-item-title {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 27.5px;
}

.advantages-item-subtitle {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}

.create-line {
    margin: 0 auto;
}

.wrapper-first .create-line, .wrapper-third .create-line {
    width: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.wrapper-second .create-line {
    width: 60px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.advantages-item-picture {
    width: 800px;
    height: 385px;
}

.wrapper-first .advantages-item, .wrapper-third .advantages-item {
    background-color: #82B3D3;
    color: #ffffff;
}

.wrapper-second .advantages-item:nth-child(odd) {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
    ;
}

.wrapper-second .advantages-item:nth-child(even) {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
    ;
}

/* suggestions */

.suggestions-description {
    padding: 64px 347.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.suggestions-title {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.suggestions-subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    text-align: center;
    margin: 0;
}

.suggestions-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.suggestions-item {
    width: 400px;
    height: 385px;
    display: block;
}

.suggestions-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.suggestions-item-description {
    margin: 81px 85px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.suggestions-icon {
    margin: 0 auto;
}

.suggestions-item-title {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.suggestions-item-subtitle {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


/* catalog-entrance */

.catalog-entrance {
    padding: 96px 304px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.catalog-entrance-title {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.catalog-entrance-subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 54px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.catalog-entrance-button {
    padding: 8px 50px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
}


/* subscription-w-background */

.subscription-w-background {
    background-color: #000000;
    background-image: url(../images/index/jpg/background-footer.jpg);
    background-size: cover;
    width: 1200px;
    height: 415px;
}

.subscription-description {
    margin: 96px 258px 104px 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-title {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
}

.subscription-subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 54px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.subscription-form {
    display: flex;
}

.subscription-input {
    font-size: 18px;
    line-height: 24px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px 0px 0px 4px;
    color: rgba(0, 0, 0, 1);
    padding: 14px 20px;
    width: 452px;
}
.subscription-button {
    padding: 8px 50px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 0px 4px 4px 0px;
    border: none;
}

/* main-inner */

.settings-filters {
    background-image: url(../images/catalog/jpg/background-header.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 35px 70px 70px 70px;
}

.inner-header-title {

}

.breadcrumbs-link {
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
}

/* catalog-products */

.control {
    color: #ffffff;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
}

.filters-submit-button {
    padding: 8px 50px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 4px;
    border: none;
}

.filters-reject-button {
    padding: 8px 50px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 4px;
    border: none;
}

/* catalog-cards */

.search-amount-title, .search-amount {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
}

.view-controls-button {
    background-color: #ffffff;
    border: #000000;
}

.catalog-cards {
    background-color: #ffffff;
}

.catalog-card-link {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: bold;
    color: #000000;
    text-decoration: none;
}

.catalog-card-type {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.catalog-card-rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.card-more-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 26px;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
}

.card-fav-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 20px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 4px;
    border: none;
}

.card-fav-button:active {
    background-color: #7DB54F;
}

.pagination-link {
    background-color: #82B3D3;
    text-decoration: none;
    color: #000000;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #ffffff;
}

.pagination-dots {
    background-color: none;
    color: #000000;
}

/* subscription-no-background */

.subscription-no-background {
    background-color: #ffffff;
    width: 1200px;
    height: 415px;
    text-align: center;
}

.subscription-title-background {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

/* footer */

.page-footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    padding: 40px 70px 30px 70px;
    align-items: center;
    margin: 0 auto;
}

.footer-social-list {
    width: 142px;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer-contacts-phone {
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer-logo {
    display: flex;
    margin: 0;
    padding: 0;
}
